<div id="forgotpassworddialog">
    <div class="d-flex background justify-content-start p-3">
        <span class="reset-title">Reset Password</span>
    </div>
    <form [formGroup]="ResetForm">
        <div class="d-flex justify-content-start p-3">
            <span>Enter Password</span>
        </div>
        <!-- <nb-form-field class="d-flex justify-content-start px-3">
            <input [type]="OldPasswordHide ? 'text' : 'password'" type="text" nbInput fullWidth status="basic"
                (keyup.enter)="enterpress($event)" placeholder="Old Password" formControlName="OldPassword">
            <nb-icon icon="eye-off-outline" nbSuffix *ngIf="OldPasswordHide==false" (click)="hider(1)"></nb-icon>
            <nb-icon icon="eye-outline" nbSuffix *ngIf="OldPasswordHide==true" (click)="hider(2)"></nb-icon>
        </nb-form-field>
        <span class="d-flex justify-content-start px-3 error"
            *ngIf="ResetForm.get('OldPassword')?.hasError('required') && ResetForm.get('OldPassword')?.touched">
            Old Password is required
        </span>
        <span class="px-3 error" *ngIf="!checkoldpassword">
            Incorrect old password
        </span>
        <div class="d-flex justify-content-start p-3">
            <span>Enter New Password</span>
        </div> -->
        <nb-form-field class="d-flex justify-content-start px-3">
            <input [type]="NewPasswordHide ? 'text' : 'password'" nbInput fullWidth status="basic"
                (keyup.enter)="enterpress($event)" placeholder="New Password" formControlName="NewPassword">
            <nb-icon icon="eye-off-outline" nbSuffix *ngIf="NewPasswordHide==false" (click)="hider(3)"></nb-icon>
            <nb-icon icon="eye-outline" nbSuffix *ngIf="NewPasswordHide==true" (click)="hider(4)"></nb-icon>
        </nb-form-field>
        <span class="d-flex justify-content-start px-3 error"
            *ngIf="ResetForm.get('NewPassword')?.hasError('required') && ResetForm.get('NewPassword')?.touched">
            New Password is required
        </span>

        <div class="d-flex justify-content-start p-3">
            <span>Confirm Password</span>
        </div>
        <div class="d-flex w-100 justify-content-start px-3">
            <!-- <nb-form-field> -->
            <input type='password' nbInput fullWidth status="basic" placeholder="Confirm Password"
                (keyup.enter)="enterpress($event)" formControlName="ConfirmPassword">
            <!-- <nb-icon icon="eye-off-outline" nbSuffix *ngIf="hide==true" (click)="hider()"></nb-icon>
            <nb-icon icon="eye-outline" nbSuffix *ngIf="hide==false" (click)="hider2()"></nb-icon> -->
            <!-- </nb-form-field> -->
        </div>
        <div class="d-flex w-100 justify-content-start px-3">
            <span class="error"
                *ngIf="ResetForm.get('ConfirmPassword')?.hasError('required') && ResetForm.get('ConfirmPassword')?.touched">
                Confirm Password is required
            </span>
            <span class="error" *ngIf="!checknewpassword">
                Confirm password is not same as new password
            </span>
        </div>
    </form>
    <div class="d-flex w-100 justify-content-center pt-3">
        <div>
            <button class="cancelbtn" (click)="close()">Cancel</button>
        </div>
        <div class="px-3">
            <button class="confirmbtn" (click)="reset()">Reset</button>
        </div>
        <div class="px-3">
            <button class="confirmbtn" (click)="confirm()">Confirm</button>
        </div>
    </div>
</div>