#forgotpassworddialog {
    background-color: white;
    min-height: 350px;
    max-height: 400px;
    min-width: 542px;
    border-radius: 5px;

    .confirmbtn {
        background-color: #035f88 !important;
        color: white !important;
        //padding: 8px;
        width: 146%;
        border: 0px;
        border-radius: 7px;
        font-size: 13px;
        height: 37px;
    }

    .reset-title {
        position: relative;
        bottom: 7px;
    }

    .background {
        background-color: #035f88;
        padding: 10px 10px 10px 30px;
        height: 40px;
        color: white;
    }

    .cancelbtn {
        background-color: white;
        border-color: #035f88;
        border-radius: 7px;
        width: 20%;
        height: 5vh;
        font-size: 13px;
        color: #035f88;
        width: 90px;
    }

    .error {
        color: red;
        font-size: 10px;
    }

    ::ng-deep nb-layout-column {
        height: 60vw;
    }
}